.Container {
    min-height: 240px;
}

h3 {
    padding: 5px 70px;
    background: white;
    color: rgb(73, 73, 73);
    border-radius: 5px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.UpdateInput {
    background: white;
    height: 40px;
    width: 240px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.CheckboxDiv {
    background: white;
    border-radius: 5px;
    height: 40px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.UpdateTask {
    background: rgb(0, 147, 170);
    color: white;
    height: 40px;
    width: 240px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.2s ease;
}

.UpdateTask:hover {
    background: rgb(0, 106, 122);
}