{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Todo-List</title>
</head>
<body>
    <header class="Header">
        <a href="/" class="Logo">Todo List</a>

        <nav class="Navbar">
            <div><a href="{% url 'home' %}">Home</a></div>
            <div><a href="{% url 'home' %}">About</a></div>
            <div><a href="{% url 'lists' %}">Lists</a></div>
            <div><a href="{% url 'home' %}">Login</a></div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="Footer">
        <p class="Copyright">&copy;RobsonBSF/Todo-List 2024</p>
    </footer>
</body>
</html>