{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/container.css' %}">
    <link rel="stylesheet" href="{% static 'css/delete.css' %}">

    <div class="Container">
        <p class="DelMsg">Are you sure you want to delete "{{item}}" ?</p>

        <a class="CancelDel" href="{% url 'lists' %}">Cancel</a>

        <form method="POST" action="">
            {% csrf_token %}
            <input class="ConfirmDel" type="submit" name="Confirm" value="Delete">
        </form>
    </div>   
{% endblock content %}